{% extends "layout.html" %}

{% block title %}
    Editor
{% endblock %}

{% block content %}
    <div class="row">
        <h1>Editor</h1>

        <form method="POST">
            {% csrf_token %}

            <textarea class="medium-12" rows="40" name="contents" style="font-family: Consolas, 'Liberation Mono', Courier, monospace;">{{ contents }}</textarea>

            <div class="medium-12 columns">
                <div class="row">
                    <input type="submit" value="Submit" class="button radius large-offset-10 large-2">
                </div>
            </div>
        </form>

        <div class = "logout-button">
            <a href="{% url 'logout' %}?next={% url 'login' %}?next={{ request.path }}"
                    class="button radius large-offset-10 large-2" >Logout</a>
        </div>

    </div>
{% endblock %}
