<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "stylesheets/layout.css" %}"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/css/foundation.css"/>
        <!-- <script type="text/javascript"></script> -->
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>