<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ReAuthoring Login</title>
</head>

<body>
    <div>
        <h1>ReAuthoring Login</h1>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            <br/>
            {{ form.password.label_tag }}
            {{ form.password }}
            </br/>
            <input type="submit" value="submit" style="vertical-align:middle">
        </form>
    </div>
</body>
</html>
